/*=================================================
            related items and outfit Block
=================================================*/
.itemsAndOutfit {
  width: 90%;
  height: auto;
  border: 1px solid black;
  margin: 5px auto;
}
h3 {
    font-weight: bold;
    margin: 5px 0px;
  }
/*=================================================
            related items
=================================================*/

.relatedProducts-carousel-row {
  border: 1px solid grey;
  margin: 10px auto;
  width: 100%
}

.relatedProducts-carousel-col {
  display: inline-block;
  /* border: 1px solid grey; */
  padding: 0 3px;
  margin: 0 20px;
  width: 33%;
  height: 500px;
}
.product-card {
    width: 100%;
    height: 500px;
}
.product-card .img {
  width: auto;
  height: 60%;
  text-align: bottom;
}

.product-card .info {
    width: 100%;
    height: 40%;
    line-height: 1.2em;
    text-align: left;
    background-color: rgb(231, 228, 228);
  }
.product-card .card-text {
    /* display: inline-block; */
    margin-top: 6px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 3px;
    text-align: left;
}
/* under each item is img and div relatedItemInfo */
